* {
  font-family: 'Kanit', sans-serif;
}

.cs-pt {
  cursor: pointer;
}

/*Button*/

.btn-astep-f56542,
.btn-astep-f56542:hover {
  background-color: #f56542;
  color: #fff !important;
  border-radius: 3px;
}

/*Input*/

.input-astep {
  padding: .84rem 2.14rem;
  font-size: .81rem;
}

.input-astep:focus {
  border: 1px solid #f56542;
  -webkit-box-shadow: 0px 0px 5px rgba(245, 101, 66, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(245, 101, 66, 0.75);
  box-shadow: 0px 0px 5px rgba(245, 101, 66, 0.75);
}

/*Navbar*/

.navbar.navbar-astep {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #303032;
}

.navbar-nav.nav-bar-astep li.nav-item a.nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.navbar-nav.nav-bar-astep li.nav-item:hover a.nav-link,
.navbar-nav.nav-bar-astep li.nav-item.active a.nav-link {
  background-color: #f56542 !important;
}

.dropdown-menu.dropdown-menu-astep {
  background-color: #303032;
  top: 120%;
  left: -1rem;
  min-width: 15rem;
}

.dropdown-menu.dropdown-menu-astep::before {
  content: '';
  position: absolute;
  left: 3.5rem;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #303032 transparent;
  z-index: 9999;
}

.dropdown-menu.dropdown-menu-astep .dropdown-item {
  color: #fff !important;
}

.dropdown-menu.dropdown-menu-astep .dropdown-item:hover {
  background-color: #f56542;
}

.dropdown-menu.dropdown-menu-astep.dropdown.dropdown-lv-2{
  top: 10%;
  left: 102%;
}
.dropdown-menu.dropdown-menu-astep.dropdown.dropdown-lv-2::before {
  content: '';
  position: absolute;
  left: -4%;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0px;
  border-color: transparent #303032 transparent transparent;
  z-index: 9999;
}